@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

:root {
  --color-bg: #e6eaed; 
  --color-card: #ffffff;          

  --color-primary: #283179;
  --color-primary-light: #b2c2da;
  --color-primary-dark: #171c45;

  --color-text-primary: #212529;
  --color-text-secondary: #a1a7cc; 

  --color-card-green: #29b348;
  --color-card-yellow: #f5b225;
  --color-card-red: #ec536c;
  --color-card-blue: #44a2d2;


}

body {
    font-family: Barlow, sans-serif;
}